/*Load fonts*/
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  font-family: Roboto;
  background-color: #323d4a;
}

/*Menu bar style*/
.topnav {
  border-radius: 5px;
  overflow: hidden;
  height: 50px;
  width: 100%;
  background-color: #f9efd3;
}

.topnav a {
  float: left;
  padding: 15px 17px;
  text-decoration: none;
  color: #323d4a;
}

.topnav a.active {
  background-color: #f8d77f;
}

.icons {
  margin-right: 10px;
}

.search-box {
  padding: 10px;
  float: right;
}

/*Right nav Style*/
.right-nav {
  margin-right: 40px;
  background-color: #f9efd3;
  width: 20%;
  height: 100%;
  float: right;
  margin-top: 18px;
  border-radius: 5px;
}

.profile {
  display: block;
  border: 5px solid #323d4a;
  border-radius: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.right-nav h3 {
  font-size: 25px;
  text-align: center;
}

.right-nav p {
  text-align: center;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

hr {
  color: #323d4a;
}

/*Posts place style*/
.posts {
  margin-left: 10%;
  border-radius: 5px;
  margin-top: 18px;
  float: left;
  width: 60%;
  height: 100%;
  background: #f9efd3;
}

.posts-pic {
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
}

.posts h1 {
  text-align: center;
}

.posts p {
  padding: 10px 12px;
}

.read-more {
  text-decoration: none;
  float: right;
  padding: 5px 7px;
  color: #487a84;
}
