.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: max-content;
  grid-auto-columns: max-content;
  margin: 1vh 2.5vw;
  & > .posts {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 2vh;
    & > .pagination_container {
      width: max-content;
      height: max-content;
      margin: 1vh auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: max-content;
      grid-auto-columns: max-content;
      column-gap: 1.5vw;
      & > button {
        color: var(--primary-one);
        background-color: var(--primary-three);
        border: 0;
        padding: 1vh 1.5vw;
        border-radius: 4px;
        font-weight: bolder;
        font-size: 1rem;
        transition: 400ms ease;
        transition-property: color, background-color;
        &:hover:not(:disabled) {
          color: var(--primary-three);
          background-color: var(--primary-one);
          cursor: pointer;
        }
        &:is(:disabled) {
          filter: grayscale(1);
        }
      }
    }
  }
  & > .aboutme {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: var(--primary-two);
    border-radius: 4px;
    height: max-content;
    color: var(--primary-one);
    & > figure {
      & > span {
        border-radius: 50%;
        border: 5px solid var(--primary-three) !important;
        filter: drop-shadow(0px 0px 5px var(--primary-one));
        transition: 400ms ease;
        transition-property: scale;
        &:hover {
          scale: 1.02;
        }
      }
      &:hover {
        &::after {
          scale: 1.2;
        }
      }
      &::after {
        content: "";
        margin-top: 2vh;
        width: 100%;
        height: 2px;
        background-color: var(--primary-one);
        display: block;
        transition: 400ms ease;
        transition-property: scale;
      }
    }
    & > h1 {
      font-size: 1.514rem;
      font-weight: bolder;
      margin: 1vh 0vw;
    }
    & > p {
      font-size: 1rem;
      font-weight: normal;
      margin: 0vh 2.5vw;
      margin-bottom: 2vh;
      text-align: center;
    }
    @media only screen and (max-width: 1201px) {
      & {
        & > h1 {
          font-size: 1.3rem;
        }
        & > p {
          font-size: 0.9rem;
        }
      }
    }
    @media only screen and (max-width: 992px) {
      & {
        & > h1 {
          font-size: 3rem;
        }
        & > p {
          font-size: 1.3rem;
        }
      }
    }
    @media only screen and (max-width: 992px) {
      & {
        & > h1 {
          font-size: 2rem;
        }
        & > p {
          font-size: 1rem;
        }
      }
    }
    @media only screen and (max-width: 512px) {
      & {
        & > h1 {
          font-size: 1.6rem;
        }
        & > p {
          font-size: 0.9rem;
        }
      }
    }
  }
  @media only screen and (max-width: 992px) {
    & {
      grid-template-columns: 1fr;
      grid-template-areas: "aboutme" "posts";
      & > .posts {
        grid-area: posts;
      }
      & > .aboutme {
        grid-area: aboutme;
      }
    }
  }
}
